.board {
  background: var(--secondary-bg);
  width: var(--board-size);
  height: var(--board-size);
  border-radius: var(--tile-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  grid-template-rows: repeat(4, var(--tile-size));
  gap: var(--grid-gap);
  position: relative;
}

.cell {
  width: var(--tile-size);
  height: var(--tile-size);
  background: var(--cell-bg);
  border-radius: var(--tile-radius);
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2),
    inset -3px -3px 6px rgba(255, 255, 255, 0.25);
}
