.tile {
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: var(--tile-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2),
    inset -3px -3px 6px rgba(255, 255, 255, 0.25);
  transition: top 200ms, left 200ms;
}
